*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
body{
    background-color: #111;
    color: #fff;
}
h1{
    font-size: 70px;
    background-color: white;
    padding: 10px 50px;
    border-radius: 10px;
    color: rgb(255, 94, 0);
}
button{
    padding:10px 20px;
    background-color: chartreuse;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: greenyellow;
}